.rule3c {
	display:inline-block;text-align:center;width:100%;
}

.rule2c {
    margin:10px 10px 0 10px;
}
.hc {
    height:50px;
}
.mc {
    margin-top:5px;
}
.rule1w {
    margin:10px 10px 0 10px;
}
.rule2w {
    display:inline-block;text-align:center;width:100%;
}
.logo {
    width:230px;
    height:13px;
    display:block;
    margin:0 auto;
    background: url("../images/c.png") no-repeat;
}
.me {
    background: url("../images/me1.png") no-repeat;
    width:57px;
    height:57px;
    margin:0 20px 0 20px;
    border:solid 3px #C0C0C0;
    display:block;
}
.uiux {
    background: url("../images/iosand.png") no-repeat;
    width:92px;
    height:99px;
    display:block;
    margin:0 auto;
}