.container {
    display: flex;justify-content: center;margin:40px;
    flex-wrap: wrap;
    width:100%;
}
.right-10 {
    margin-right:10px;
    width:200px;
}

@media screen and (min-width: 300px) {
    
    button {
        margin-bottom: 10px;
        box-shadow: 2px 2px 1px #acb3f3;
        
    }
    
    
}
a {
    text-decoration:none;color:rgb(22, 21, 21);
}

